<% include ./partials/header %>
  <div class="row">
    <div class="rwd-form">
      <form action="/password_reset" method="POST">
        <fieldset>
          <legend>Rivendos fjalëkalimin</legend>
          <div class="form-group">
            <label for="email">Email</label>
            <input class="form-control" type="email" name="email" autocomplete="off" autofocus />
          </div>
          <small>Ju do të merrni një email konfirmimi pasi të keni dërguar kërkesën. Ju lutemi kontrolloni emailin për udhëzime të mëtejshme. </small>
          <hr>
          <div class="form-group">
            <input class="btn btn-primary btn-md" type="submit" value="Continue" />
          </div>
        </fieldset>
      </form>
    </div>
  </div>
<% include ./partials/footer %>